<%= form_for(@alert_schedule) do |f| %>
  <% if @alert_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert_schedule.errors.count, "error") %> prohibited this alert_schedule from being saved:</h2>

      <ul>
      <% @alert_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for(:location) do |location_form| %>
    <div class="field">
      <%= location_form.label :address %><br>
      <%= location_form.text_field :address %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
