<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @alert_schedule.creator.full_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @alert_schedule.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @alert_schedule.address %>
</p>

<%= link_to 'Back', alert_schedules_path %>
